<div class="programme">
  <div class="programme-day-filter-container">
    <div class="programme-day-filter-header">
      <div>Dzień tygodnia</div>
    </div>
    <div class="programme-day-filter-button-container">
      <mat-button-toggle-group [value]="selectedWeekday" (change)="getMovies()" [(ngModel)]="selectedWeekday">
        <mat-button-toggle *ngFor="let weekdayKey of weekdayKeys; index as i" [value]="i">{{weekdays[weekdayKey]}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="movie-filter-container">
    <div class="movie-filter-header">
      <div>Filtruj</div>
    </div>
    <div class="filter">
      <div class="movie-filter">
        <mat-form-field>
          <mat-select placeholder="Gatunek" (selectionChange)="getMovies()" [(ngModel)]="selectedGenre" name="genre">
            <mat-option></mat-option>
            <mat-option *ngFor="let key of genreKeys" [value]="key">
              {{genres[key]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="movie-filter">
        <mat-form-field>
          <mat-select placeholder="Kraj produkcji" (selectionChange)="getMovies()" [(ngModel)]="selectedCountry"
                      name="country">
            <mat-option></mat-option>
            <mat-option *ngFor="let key of countryKeys" [value]="key">
              {{countries[key]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="movie-filter">
        <mat-form-field>
          <mat-select placeholder="Rok produkcji" (selectionChange)="getMovies()" [(ngModel)]="selectedYear" name="year">
            <mat-option></mat-option>
            <mat-option *ngFor="let releaseYear of releaseYears" [value]="releaseYear">
              {{releaseYear}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="movie-container" *ngFor="let movie of movies">
    <div class="movie">
      <div class="movie-image">
        <img [src]="movie.image">
      </div>
      <div class="border"></div>
      <div class="movie-info">
        <div class="movie-title">{{movie.title | uppercase}} ({{countries[movie.country]}}, {{movie.releaseYear}})</div>
        <div class="movie-length">
          <span>{{genres[movie.genre]}} </span>
          <span style="padding-left: 8px; padding-right: 8px">|</span>
          <span>Od lat: {{ageLimits[movie.ageLimit]}}</span>
          <span style="padding-left: 8px;padding-right: 8px">|</span>
          <span>{{movie.duration}} min.</span>
        </div>
        <div class="movie-description">{{movie.description}}</div>
        <div class="movie-reservation-container">
          <div class="movie-reservation" *ngFor="let show of movie.shows">
            <button class="reservation-button" routerLink="/repertuar/{{show.id}}/rezerwacja" mat-flat-button color="primary">{{show.showTime}}</button>
            <div class="reservation-border"></div>
          </div>
        </div>
      </div>
      <div class="border"></div>
    </div>
  </div>
</div>
