<div class="programme">
  <div class="movie-container" *ngFor="let movie of movies">
    <div class="movie">
      <div class="movie-image">
        <img [src]="movie.image">
      </div>
      <div class="border"></div>
      <div class="movie-info">
        <div class="movie-title">{{movie.title | uppercase}} ({{movie.releaseYear}})</div>
        <div class="movie-length">
          <span>{{movie.genre}} </span>
          <span style="padding-left: 8px; padding-right: 8px">|</span>
          <span>Od lat: {{movie.ageLimit}}</span>
          <span style="padding-left: 8px;padding-right: 8px">|</span>
          <span>{{movie.duration}} min.</span>
        </div>
        <div class="movie-description">{{movie.description}}</div>
      </div>
      <div class="border"></div>
      <div class="movie-make-reservation"></div>
    </div>
  </div>
</div>
