<div class="programme">
  <div class="movie-filter-container">
    <div class="movie-filter-header">
      <div>Filtruj</div>
    </div>
    <div class="border"></div>
    <div class="movie-filter">
      <mat-form-field>
        <mat-select placeholder="Gatunek">
          <mat-option></mat-option>
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{genre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="border"></div>
    <div class="movie-filter">
      <mat-form-field>
        <mat-select placeholder="Kraj produkcji">
          <mat-option></mat-option>
          <mat-option *ngFor="let country of countries" [value]="country">
            {{country}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="border"></div>
    <div class="movie-filter">
      <mat-form-field>
        <mat-select placeholder="Rok produkcji">
          <mat-option></mat-option>
          <mat-option *ngFor="let releaseYear of releaseYears" [value]="releaseYear">
            {{releaseYear}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="movie-container" *ngFor="let movie of movies">
    <div class="movie">
      <div class="movie-image">
        <img [src]="movie.image">
      </div>
      <div class="border"></div>
      <div class="movie-info">
        <div class="movie-title">{{movie.title | uppercase}} ({{movie.releaseYear}})</div>
        <div class="movie-length">
          <span>{{movie.genre}} </span>
          <span style="padding-left: 8px; padding-right: 8px">|</span>
          <span>Od lat: {{movie.ageLimit}}</span>
          <span style="padding-left: 8px;padding-right: 8px">|</span>
          <span>{{movie.duration}} min.</span>
        </div>
        <div class="movie-description">{{movie.description}}</div>
      </div>
      <div class="border"></div>
      <div class="movie-make-reservation"></div>
    </div>
  </div>
</div>
