.programme {
  display: flex;
  flex-direction: column;
}

.movie-filter-container {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
  border-color: rgba(208, 208, 208, 0.25);
  border-width: thin;
}

.movie-filter-header {
  flex-grow: 5;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

.movie-filter {
  flex-grow: 2;
}

.movie-container {
  border-bottom: solid;
  border-color: rgba(208, 208, 208, 0.25);
  border-width: thin;
}

.movie {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
}

.movie-image > img {
  position: relative;
  float: left;
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-info {
  flex-grow: 8;
  padding-left: 3%;
  line-height: 140%;
  text-align: justify;
}

.movie-title {
  color: white;
  font-size: 24px;
  padding-bottom: 3%;
  font-family: "DejaVu Serif", sans-serif;
  letter-spacing: 2px;
}

.movie-length {
  color: rgba(208, 208, 208, 0.5);
  font-size: 18px;
  padding-bottom: 7%;
}

.movie-description {
  color: white;
  font-size: 15px;
}

.movie-make-reservation {
  flex-grow: 2;
}

.border {
  flex-grow: 1;
}
