<div class="navbar-container">
  <div class="logo">Kinomania</div>
  <div class="button-container">
    <mat-button-toggle-group>
      <mat-button-toggle routerLink="/repertuar" disableRipple>REPERTUAR</mat-button-toggle>
      <!--<mat-button-toggle disableRipple>WKRÓTCE</mat-button-toggle>-->
      <!--<mat-button-toggle disableRipple>WYDARZENIA</mat-button-toggle>-->
      <mat-button-toggle routerLink="/cennik" disableRipple>CENNIK</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="login">
    <button class="login-button" mat-flat-button>
      <i class="material-icons white">person_outline</i>
      <span>ZALOGUJ</span>
    </button>
  </div>
</div>
