<div class="navbar-container">
  <div class="logo">Kinomania</div>
  <div class="button-container">
    <mat-button-toggle-group>
      <mat-button-toggle routerLink="/repertuar" routerLinkActive="mat-button-toggle-checked" disableRipple>REPERTUAR</mat-button-toggle>
      <!--<mat-button-toggle disableRipple>WKRÓTCE</mat-button-toggle>-->
      <mat-button-toggle routerLink="/wydarzenia" routerLinkActive="mat-button-toggle-checked" disableRipple>WYDARZENIA</mat-button-toggle>
      <mat-button-toggle routerLink="/cennik" routerLinkActive="mat-button-toggle-checked" disableRipple>CENNIK</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div *ngIf="!authenticationService.isLoggedIn()" class="login">
    <button class="login-button" mat-flat-button routerLink="/zaloguj">
      <i class="material-icons white">person_outline</i>
      <span>ZALOGUJ</span>
    </button>
  </div>
  <div *ngIf="authenticationService.isLoggedIn()" class="login">
    <button class="login-button" mat-flat-button (click)="authenticationService.logout()">
      <i class="material-icons white">meeting_room</i>
      <span>{{authenticationService.getUsername()}}</span>
    </button>
  </div>
</div>
