.navbar-container {
  display: flex;
  flex-direction: row;
}

.logo {
  flex-grow: 2;
  color: #c2185b;
  font-weight: bold;
  font-size: 34px;
  font-family: Verdana, Geneva, sans-serif;
}

.button-container {
  flex-grow: 1;
  display:flex;
}

.login {
  flex-grow: 1;
  max-width: 120px;
  border: 2px solid #c2185b;
  border-radius: 4px;
}

.login-button {
  color: white;
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 14px;
}

.mat-button-toggle-group-appearance-standard {
  border: none;
}

.mat-button-toggle {
  background-color: black;
}

.mat-button-toggle:hover {
  color: #c2185b;
  background-color: black;
}

.mat-button-toggle-appearance-standard {
  color: grey;
}

.mat-button-toggle-checked {
  color: white;
}

.mat-flat-button {
  background-color: black;
}

.material-icons.white {
  color: white;
  padding-left: 2px;
  padding-right: 10px;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle{
  border: none;
}
