<div class="main-container">
  <div class="form-header">Formularz logowania</div>
  <div class="form">
    <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
      <div>
        <div>
          <mat-form-field>
            <input type="text"
                   id="username"
                   required
                   matInput
                   placeholder="Nazwa użytkownika"
                   name="username"
                   [(ngModel)]="model.username">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="password"
                   id="password"
                   required
                   matInput
                   placeholder="Hasło"
                   name="password"
                   [(ngModel)]="model.password">
          </mat-form-field>
        </div>
        <div class="button-container">
          <button type="submit"
                  mat-raised-button color="primary"
                  disableRipple
                  [disabled]="!loginForm.form.valid"
          >Zaloguj
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="unsuccessfulLogin" class="unsuccessful-login">
      Niepoprawne dane logowania
    </div>
  </div>
</div>
