.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  flex-grow: 1;
  text-align: center;
  font-size: 28px;
  padding-bottom: 20px;
}

.form {
  width: 30%;
}

.mat-form-field {
  width:100%;
}

.image-picker {
  color: rgba(255,255,255,.7);
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-bottom: 5px;
}

.movie-image {
  padding-top: 20px;
}

.movie-image > img {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-container {
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

