<div class="main-container">
  <div class="form-header">{{formTitle}}</div>
  <div *ngIf="form" class="form">
    <form (ngSubmit)="onSubmit()" #movieForm="ngForm" novalidate>
      <div>
        <div>
          <mat-form-field>
            <input type="text"
                   id="title"
                   required
                   matInput
                   placeholder="Tytuł"
                   name="title"
                   [(ngModel)]="form.title">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-select placeholder="Gatunek" [value]="form.genre" [(ngModel)]="form.genre" name="genre">
              <mat-option *ngFor="let key of genreKeys" [value]="key">
                {{genres[key]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-select placeholder="Ograniczenie wiekowe" [value]="form.ageLimit" [(ngModel)]="form.ageLimit"
                        name="ageLimit">
              <mat-option *ngFor="let key of ageLimitKeys" [value]="key">
                {{ageLimits[key]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="number"
                   id="duration"
                   min="0"
                   required
                   matInput
                   placeholder="Czas trwania"
                   name="duration"
                   [(ngModel)]="form.duration">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="text"
                   id="releaseYear"
                   minlength="4"
                   maxlength="4"
                   required
                   matInput
                   placeholder="Rok produkcji"
                   name="releaseYear"
                   [(ngModel)]="form.releaseYear">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-select placeholder="Kraj produkcji" [value]="form.country" [(ngModel)]="form.country" name="country">
              <mat-option *ngFor="let key of countryKeys" [value]="key">
                {{countries[key]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea rows="8"
                      matInput
                      id="description"
                      placeholder="Opis"
                      name="description"
                      [(ngModel)]="form.description"
            ></textarea>
          </mat-form-field>
        </div>
        <div>
          <div class="image-picker">Wybierz obraz</div>
          <input id="image" type="file" (change)="selectFile($event)" accept="/image/*">
          <div *ngIf="!url && form.image" class="movie-image">
            <img *ngIf="!url && form.image" [src]="form.image">
          </div>
          <div *ngIf="url" class="movie-image">
            <img [src]="url">
          </div>
        </div>
        <div class="button-container">
          <button type="submit"
                  mat-raised-button color="primary"
                  disableRipple
                  [disabled]="!movieForm.form.valid"
          >{{formButtonName}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
