.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.mat-button-toggle-group {
  width:100%;
}

.mat-button-toggle {
  width:100%;
}
