<div class="button-container">
  <mat-button-toggle-group>
    <mat-button-toggle routerLink="/admin/filmy" routerLinkActive="mat-button-toggle-checked" disableRipple>FILMY</mat-button-toggle>
    <mat-button-toggle routerLink="/admin/repertuar" routerLinkActive="mat-button-toggle-checked" disableRipple>REPERTUAR</mat-button-toggle>
    <mat-button-toggle routerLink="/admin/wydarzenia" routerLinkActive="mat-button-toggle-checked" disableRipple>WYDARZENIA</mat-button-toggle>
    <mat-button-toggle routerLink="/admin/cennik" routerLinkActive="mat-button-toggle-checked" disableRipple>CENNIK</mat-button-toggle>
    <mat-button-toggle routerLink="/admin/uzytkownicy" routerLinkActive="mat-button-toggle-checked" disableRipple>UŻYTKOWNICY</mat-button-toggle>
  </mat-button-toggle-group>
</div>
