<div class="main-container">
  <div class="movie-info-container">
    <div class="movie-info">
      <div>Tytuł filmu: {{show?.movieTitle}}</div>
      <div>Data i godzina: {{show?.showDate}}, {{show?.showTime}}</div>
      <div>Sala: {{show?.auditoriumName}}</div>
    </div>
  </div>
  <div class="border"></div>
  <div class="movie-reservation-container">
    <div class="screen">EKRAN</div>
    <div class="seats-container">
      <div *ngFor="let item of array(rowsCount); let i = index;">
        <div class="seats-row-container">
          <div class="row-label">{{alphabet[i]}}</div>
          <div *ngFor="let item of array(columnsCount); let j = index;">
            <mat-checkbox [disabled]="reservedSeats.includes(alphabet[i] + (j+1))" class="seat" disableRipple
                          [value]="alphabet[i] + (j+1)"></mat-checkbox>
          </div>
        </div>
      </div>
    </div>
