.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  flex-grow: 1;
  text-align: center;
  font-size: 28px;
  padding-bottom: 20px;
}

.form {
  width: 30%;
}

.mat-form-field {
  width: 100%;
  padding-bottom: 15px;
}

.form-selected-seats {
  padding-bottom: 20px;
  text-align: center;
}

.form-selected-seats-warning {
  padding-top: 5px;
  color: rgba(255, 255, 255, .7);
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
