<div class="main-container">
  <div class="form-header">Formularz rezerwacji</div>
  <div class="form-selected-seats">
    <div>Wybrane miejsca: {{selectedSeats}}</div>
    <div *ngIf="selectedSeats == undefined || selectedSeats.length == 0" class="form-selected-seats-warning">
      Wybierz przynajmniej jedno miejsce.
    </div>
  </div>
  <div class="form">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
      <div>
        <div>
          <mat-form-field hintLabel="Minimum 2 znaki rozpoczynające się wielką literą.">
            <input type="text"
                   pattern="[A-ZŁŚŹŻ][a-zA-ZąćęłńóśźżĄĘŁŃÓŚŹŻ]{1,63}"
                   id="firstname"
                   required
                   matInput
                   placeholder="Imię"
                   name="firstname"
                   [(ngModel)]="formFirstName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field hintLabel="Minimum 2 znaki rozpoczynające się wielką literą.">
            <input type="text"
                   id="lastname"
                   pattern="[A-ZŁŚŹŻ][a-zA-ZąćęłńóśźżĄĘŁŃÓŚŹŻ]{1,63}"
                   required
                   matInput
                   placeholder="Nazwisko"
                   name="lastname"
                   [(ngModel)]="formLastName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field hintLabel="Numer telefonu składający się z 9 cyfr, np. 123456789.">
            <input type="tel"
                   pattern="[0-9]{9}"
                   id="phonenumber"
                   required
                   matInput
                   placeholder="Numer telefonu"
                   name="phonenumber"
                   [(ngModel)]="formPhoneNumber">
          </mat-form-field>
        </div>
        <div class="button-container">
          <button type="submit"
                  mat-raised-button color="primary"
                  disableRipple
                  [disabled]="selectedSeats == undefined || selectedSeats.length == 0 || !loginForm.form.valid"
          >Wyślij
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
