.movie-table {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

th {
  font-size: 18px;
  color: #c2185b;
  background-color: black;
}

th.mat-header-cell {
  text-align: center;
}

td {
  text-align: center;
}

button.edit-button.mat-raised-button {
  background-color: blue;
}

button.delete-button.mat-raised-button {
  background-color: red;
}
